<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product
        Name='{{.ProjectName}} CLI {{.RawVersion}}'
        Id='{{.Var.windows_product_guid}}'
        UpgradeCode='{{.Var.windows_upgrade_code}}'
        Language='1033'
        Codepage='1252'
        Version='{{.RawVersion}}'
        Manufacturer='Anchor Security, Inc.'>

        <Package
            Id='*'
            Comments='Anchor CLI'
            Manufacturer='Anchor Security, Inc.'
            InstallerVersion='{{.Var.windows_installer_version}}'
            Compressed='yes'
        />
        <MediaTemplate EmbedCab="yes" />

        <Icon Id="icon.ico" SourceFile="windows\als2.ico"/>
        <Property Id="ARPPRODUCTICON" Value="icon.ico" />

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='ProgramFiles{{ if eq .Arch "amd64" }}64{{ end }}Folder' Name='PFiles'>
                <Directory Id='INSTALLDIR' Name='Anchor CLI' />
            </Directory>
        </Directory>

        <Feature Id='Complete'>
            <Component Id='MainExecutable' Directory='INSTALLDIR'>
                <File Id='{{.Binary}}.exe' Name='{{.Binary}}.exe' Source='{{.Binary}}.exe' KeyPath='yes'/>
                <!-- <Environment Id='PATH' Name='PATH' Value='[INSTALLDIR]' Permanent='no' Part='last' Action='set' System='yes'/> -->
            </Component>
        </Feature>
    </Product>
</Wix>
