name: Release

concurrency: release

on:
  workflow_dispatch:
  push:
    tags: ["v*"]

permissions:
  contents: write
  packages: write
  id-token: write

jobs:
  prepare:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          cache: true
          go-version-file: go.mod
      - shell: bash
        run: |
          echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_ENV
      - uses: actions/cache@v4
        if: matrix.os == 'ubuntu-latest'
        with:
          path: cmd/anchor/dist/linux
          key: linux-${{ env.sha_short }}
      - uses: actions/cache@v4
        if: matrix.os == 'macos-latest'
        with:
          path: cmd/anchor/dist/darwin
          key: darwin-${{ env.sha_short }}
      - uses: actions/cache@v4
        if: matrix.os == 'windows-latest'
        with:
          path: cmd/anchor/dist/windows
          key: windows-${{ env.sha_short }}
          enableCrossOsArchive: true
      - name: non-windows flags
        if: matrix.os != 'windows-latest'
        shell: bash
        run: echo 'flags=--skip chocolatey' >> $GITHUB_ENV
      - name: windows flags
        if: matrix.os == 'windows-latest'
        shell: bash
        run: echo 'flags=--skip homebrew' >> $GITHUB_ENV
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          distribution: goreleaser-pro
          version: latest
          args: release --clean --split ${{ env.flags }}
          workdir: cmd/anchor
        env:
          GITHUB_TOKEN: ${{ secrets._GITHUB_TOKEN }}
          GORELEASER_KEY: ${{ secrets.GORELEASER_KEY }}
  release:
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      # Copy Caches
      - shell: bash
        run: |
          echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_ENV
      - uses: actions/cache@v4
        with:
          path: cmd/anchor/dist/linux
          key: linux-${{ env.sha_short }}
      - uses: actions/cache@v4
        with:
          path: cmd/anchor/dist/darwin
          key: darwin-${{ env.sha_short }}
      - uses: actions/cache@v4
        with:
          path: cmd/anchor/dist/windows
          key: windows-${{ env.sha_short }}
          enableCrossOsArchive: true

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          distribution: goreleaser-pro
          version: latest
          args: continue --merge
          workdir: cmd/anchor
        env:
          GITHUB_TOKEN: ${{ secrets._GITHUB_TOKEN }}
          GORELEASER_KEY: ${{ secrets.GORELEASER_KEY }}

  publish-windows:
    runs-on: windows-latest
    needs: prepare
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Copy Caches
      - shell: bash
        run: |
          echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_ENV
          echo "RELEASE_VERSION=${GITHUB_REF:11}" >> $GITHUB_ENV
      - uses: actions/cache@v4
        with:
          path: cmd/anchor/dist/windows
          key: windows-${{ env.sha_short }}
          enableCrossOsArchive: true
      - shell: bash
        run: |
          cp cmd/anchor/dist/windows/anchor.${{ env.RELEASE_VERSION }}.nupkg ./
      - uses: actions/upload-artifact@v4
        with:
          name: anchor.${{ env.RELEASE_VERSION }}.nupkg
          overwrite: true
          path: cmd/anchor/dist/windows/anchor.${{ env.RELEASE_VERSION }}.nupkg

      - shell: pwsh
        run: |
          choco push --source https://push.chocolatey.org/ --api-key "$env:CHOCOLATEY_API_KEY" anchor.${{ env.RELEASE_VERSION }}.nupkg
        env:
          CHOCOLATEY_API_KEY: ${{ secrets.CHOCOLATEY_API_KEY }}
